/***********************
 * Globals
 ***********************/

@import url(https://fonts.googleapis.com/css?family=Lato:400,700);
*,
*:after,
*:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html {
    max-width: 1600px;
    margin: 0 auto;
    font-size: 62.5%;
}

body {
    font-family: 'Lato', sans-serif;
    overflow-y: hidden;
    font-size: 1.5em;
    font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
    font-family: 'Lato', sans-serif;
    margin: 0;
    font-weight: 700;
}

h1 {
    font-size: 3.998em;
}

h2 {
    font-size: 2.827em;
}

h3 {
    font-size: 1.999em;
}

h4 {
    font-size: 1.414em;
}

h5 {
    font-size: 1em;
}

img {
    width: 100%;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

ul li {
    float: left;
}

a {
    -webkit-transition: all 200ms;
    -o-transition: all 200ms;
    transition: all 200ms;
    color: #666;
    text-decoration: none;
}

a.bottom-line {
    border-bottom: 1px solid #babbbc;
}

a.bottom-line:hover {
    border-bottom: 1px solid transparent;
}

a:hover {
    color: #1e70bf;
}

.clearfix:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.browserupdate {
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 100;
    display: block;
    margin-bottom: 3em;
    padding: 2em;
    color: #fff;
    text-align: center;
    background-color: red;
}

.browserupdate a {
    color: #fff;
    text-decoration: underline;
}

.browserupdate a:hover {
    color: #ddd;
}

.sb-toggle-left {
    display: none;
    cursor: pointer;
}

.sb-toggle-left:hover {
    color: #666;
}


/***********************
 * Navigation Menu (Desktop)
 ***********************/

#page-loader {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    z-index: 99999;
}

#page-loader .page-loader-gif {
    display: block;
    width: 64px;
    height: 64px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -32px 0 0 -32px;
    background: url('../img/preloader.gif') no-repeat;
}


/***********************
 * Navigation Menu (Desktop)
 ***********************/

#nav-menu {
    /*padding: 1rem;*/
    margin: 1rem;
    border: 1px solid #ddd;
    border-bottom-width: 3px;
    border-radius: 4px;
}

#nav-menu li {
    text-align: center;
    border-right: 1px solid #ddd;
    padding: 1rem 2.5rem 1rem 2.5rem;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

#nav-menu li:hover {
    cursor: pointer;
    background-color: #F8F8F8;
}

#nav-menu li.active {
    background-color: #F8F8F8;
}


/***********************
 * Navigation Menu (Mobile)
 ***********************/

#nav-menu-mobile li {
    clear: both;
    width: 100%;
    color: #fff;
    padding: 1rem 2.5rem 1rem 2.5rem;
    -webkit-transition: background-color 200ms;
    -o-transition: background-color 200ms;
    transition: background-color 200ms;
}

#nav-menu-mobile li:hover {
    cursor: pointer;
    background-color: rgba(68, 67, 67, 0.73);
}

#nav-menu-mobile li.active {
    background-color: rgba(68, 67, 67, 0.73);
}

#nav-menu-mobile h4 {
    color: #fff;
    padding: 1rem;
}


/***********************
 * Projects
 ***********************/

#projects-wrappper {
    padding: 7rem;
    padding-top: 0rem;
}

.project-item {
    padding: 2rem;
    padding-top: 5rem;
    width: 33.33333333%;
}

.project-item img {
    display: block;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-transition: opacity 100ms;
    -o-transition: opacity 100ms;
    transition: opacity 100ms;
}

.project-item .image {
    width: 100%;
    position: relative;
    display: inline-block;
    background-color: #000;
}

.project-item .image:hover img {
    opacity: 0.7;
}

.project-item .content {
    padding: 1rem;
    margin-top: -3px;
    box-shadow: 0 1px 3px 0 #D4D4D5, 0 0 0 1px #D4D4D5;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
}

.project-item .description {
    color: rgba(0, 0, 0, 0.682353);
}

.project-item .buttons {
    padding-top: 2rem;
    padding-bottom: 2rem;
}

.project-item a.button {
    font-weight: 700;
    color: rgba(0, 0, 0, 0.682353);
    margin-right: 5px;
    padding: 0.8rem 1rem 0.8rem 1rem;
    border-radius: 4px;
    background-color: #E0E1E2;
    -webkit-transition: background-color 100ms;
    -o-transition: background-color 100ms;
    transition: background-color 100ms;
}

.project-item a.button i {
    margin-right: 5px;
    font-size: 22px;
    position: relative;
    top: 2px;
}

.project-item a.button:hover {
    background-color: #CACBCD;
}

.project-item a.button:active {
    background-color: #BABBBC;
}

.project-item a.button.primary {
    color: #fff;
    background-color: #2185D0;
}

.project-item a.button.primary:hover {
    background-color: #1678c2;
}

.project-item a.button.primary:active {
    background-color: #1a69a4;
}

.project-item div.skills {
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #ddd;
}

.project-item div.skills h5 {
    padding-top: 1rem;
    padding-bottom: 1rem;
}

.project-item div.skills .tags li {
    margin-top: 7px;
    margin-left: 20px;
    padding: 0 10px 0 12px;
    float: left;
    height: 26px;
    line-height: 24px;
    position: relative;
    text-decoration: none;
    border-bottom-right-radius: 4px;
    border-top-right-radius: 4px;
}

.project-item div.skills .tags li:before {
    content: "";
    float: left;
    position: absolute;
    top: 0;
    left: -12px;
    width: 0;
    height: 0;
    /*border-color: transparent #0089e0 transparent transparent;*/
    /*border-color: transparent #555 transparent transparent;*/
    border-style: solid;
    border-width: 12px 12px 14px 0;
}

.project-item div.skills .tags li:after {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    float: left;
    width: 4px;
    height: 4px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    background: #fff;
}

.project-item .grey {
    background-color: #555;
    color: #fff;
}

.project-item .grey:before {
    border-color: transparent #555 transparent transparent;
}

.project-item .green {
    background-color: #61bd4f;
    color: #fff;
}

.project-item .green:before {
    border-color: transparent #61bd4f transparent transparent;
}

.project-item .yellow {
    background-color: #f2d600;
    color: #fff;
}

.project-item .yellow:before {
    border-color: transparent #f2d600 transparent transparent;
}

.project-item .orange {
    background-color: #ffab4a;
    color: #fff;
}

.project-item .orange:before {
    border-color: transparent #ffab4a transparent transparent;
}

.project-item .red {
    background-color: #eb5a46;
    color: #fff;
}

.project-item .red:before {
    border-color: transparent #eb5a46 transparent transparent;
}

.project-item .purple {
    background-color: #c377e0;
    color: #fff;
}

.project-item .purple:before {
    border-color: transparent #c377e0 transparent transparent;
}

.project-item .blue {
    background-color: #0079bf;
    color: #fff;
}

.project-item .blue:before {
    border-color: transparent #0079bf transparent transparent;
}

.project-item .light-blue {
    background-color: #00c2e0;
    color: #fff;
}

.project-item .light-blue:before {
    border-color: transparent #00c2e0 transparent transparent;
}

.project-item .light-green {
    background-color: #51e898;
    color: #fff;
}

.project-item .light-green:before {
    border-color: transparent #51e898 transparent transparent;
}


/***********************
 * Footer
 ***********************/

#footer {
    text-align: center;
    padding: 5rem;
    padding-top: 1rem;
    font-size: 2rem;
}

#footer hr {
    border: 0;
    border-top: 1px solid #ddd;
}

#footer .copyright {
    padding-top: 2rem;
}


/***********************
 * Media Queries
 ***********************/

@media screen and (max-width: 1200px) {
    #projects-wrappper {
        padding: 3rem;
    }
    .project-item {
        padding: 2rem;
        width: 50%;
    }
}

@media screen and (max-width: 860px) {
    #projects-wrappper {
        padding: 0rem;
    }
    #projects-wrappper h1 {
        padding: 2rem;
    }
    .project-item {
        padding-top: 3rem;
        width: 100%;
    }
}

@media screen and (max-width: 770px) {
    h1 {
        font-size: 4rem;
    }
    #nav-menu {
        display: none;
    }
    i.sb-toggle-left {
        display: block;
        padding: 1rem;
        font-size: 3rem;
    }
}

@media screen and (max-width: 320px) {
    #projects-wrappper {
        padding: 0;
    }
    .project-item {
        padding-top: 3rem;
        width: 100%;
    }
}
